tensorflow==2.18.0
tf_keras==2.18.0
keras==3.8.0
pandas==2.2.3
matplotlib==3.10.0
numpy==2.0.2
scikit-learn==1.6.1
seaborn==0.13.2
torch==2.6.0
transformers==4.49.0
datasets==3.3.1
spacy==3.8.4
kagglehub==0.3.9
opencv-python==4.11.0.86
torchvision==0.21.0
